@background: #222C32;
@success: #c7ffbc;
// @info 

html, body {
  margin: 0px;
  background-color: @background !important;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif !important;  
}

* {
  box-sizing: border-box;
}

.el-form-item {
  margin-bottom: 5px;
}
// .el-divider__text {
//   background-color: @background;
//   color: white;
//   border-radius: 5px;
// }

.el-card {
  max-width: 660px;
  margin: 30px auto;
}

#admin.el-card {
  max-width: 870px;
}

.el-dialog {
  margin-top: 0px !important;
  border-radius: 0px;
  width: 100%;

  .el-dialog__body {
    word-break: break-word;
  }
}

.el-select-dropdown {
  max-width: 100%;
  left: 0px;
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s, transform .3s;
}
.page-enter, .page-leave-active {
  transition: opacity .3s, transform .2s;
  opacity: 0;
  // transform: translateY(30px);
}

pre {
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif !important;
  margin-bottom: 0px;
  white-space: pre-line;
  font-family: unset;
}

.el-popover {
  word-break: normal;
}

@media only screen and (max-width: 768px) {
  .el-card {
    margin-top: 0px !important;
    border-radius: 0px;
    padding: 0px;
  }

  .el-menu-item {
    padding: 0px 17px;
  }
}
