doctype xml
rss(version='2.0' xmlns:atom="http://www.w3.org/2005/Atom")
    channel
        atom:link(href="#{config.baseurl}/feed/rss" rel="self" type="application/rss+xml")
        title #{config.title}
        link #{config.baseurl}
        description #{config.description}
        each event in events
            item
                title [#{moment.unix(event.start_datetime).utc(false).format("YY-MM-DD")}] #{event.title} @#{event.place.name}
                link #{config.baseurl}/event/#{event.id}
                description
                    | <![CDATA[
                    | <h4>#{event.title}</h4>
                    | <strong>#{event.place.name} - #{event.place.address}</strong>
                    | <small>(#{moment.unix(event.start_datetime).utc(false).format("dddd, D MMMM HH:mm")})</small><br/>
                    if (event.image_path)
                        | <img src="#{config.apiurl}/media/#{event.image_path}"/>
                    | <pre>!{event.description}</pre>
                    | ]]>
                pubDate= new Date(event.createdAt).toUTCString()
                guid(isPermaLink='false') #{config.baseurl}/event/#{event.id}
